html,body, .container {
	height: 100%;
}
html, body, h1, p, a, div, section {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
}
body {
	/*background image location*/
	background-image: url(../images/andela-css.jpeg);
	/*center image vertically & horizontally at all times*/
	background-position: center center;
	/*dont repeat image*/
	background-repeat: no-repeat;
	/* image fixed in the viewport so that it doesn't move when the content height is greater than the image height*/
	background-attachment: fixed;
	/*rescale image based on its container's size*/
	background-size: cover;
	/*solid background color that will be displayed while the background image is loading*/
	background-color:#464646;
	/*page font*/
	font: 18px/23px "Cantarell", sans-serif;
	color: #ffffff;
}
@media only screen and (max-width: 767px) {
	/*smaller image file on small devices*/
	body {
		background-image: url(../images/andela-css.jpeg);
	}
}
h1 {
	color: rgba(45, 170, 228, 0.44);
	text-transform: uppercase;
	font-size: 2.5em;
	line-height: 50px;
	font-weight: 700;
	margin-top: 20px;
}

a {
	color: #ffffff;
}

p {
	margin: 0 0 15px 0;
}

strong {
	font-weight: 700;
}

blockquote {
	display: block;
	max-width: 480px;
	margin: 15px auto;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.3);  
	color: #e1e1e1;
	font-family: "Kotta One", serif;
	font-size: 22px;
	line-height: 28px;
}

blockquote cite {
	display: block;
	font: 18px/23px "Cantarell", sans-serif;
	font-size: 16px;
	margin-top: 16px;
	color: #cccccc;
	text-transform: uppercase;
}

/* Layout */
.flex-container {
	padding: .5vw;
	/*margin: 0;*/
	/*list-style: none;*/
	-ms-flex-direction: column;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	/*justify-content: space-around;*/
}

.flex-container div {
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto; 
	width: 200px;
	margin: .5vw;
}
.flex-container div img { 
	width: 100%; 
	height: auto; 
}
.flex-container div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.flex-container div:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.navbar {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	height: 40px;
	z-index: 9999;
	position: fixed;
}

.inner {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.navbar a {
	display: inline-block;
	/*border: 1px solid #fff;*/
	font-size: 14px;
	line-height: 24px;
	border-radius: 3px;
	padding: 2px 15px;
	text-decoration: none;
	margin-top: 5px;
	float: left;
}

.container {
	display: table;
	padding-top: 80px;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
}

.content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* Special */
.sub-title {
	margin: 50px auto;
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
}

.button {
	display: inline-block;
	padding: 6px 10px;
	color: #cafaea;
	border: 1px solid #cafaea;
	border-radius: 3px;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
}

#more-content {
	display: none;
}
.shining {
	color: rgba(255, 255, 255, 0.0980392);
	-webkit-background-clip: text;
	animation-name: shine;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(34, 34, 34)), color-stop(0.5, rgb(255, 255, 255)), to(rgb(34, 34, 34))) 0px 0px / 125px 125px no-repeat;
}
/* Media Queries */
@media only screen and (max-width: 340px) {
.container {
	position: relative;
	display: block;
	float: left;
	vertical-align: baseline;
	margin: 0 auto;
	padding: 80px 0 0 0;
}
#more-content {
	float: left;
	margin-right: 10px;
  }
  body h1 {
	font-size: 18px;
	line-height: 23px;
} 
.content, blockquote {  
	display: inline;
	margin: 0 auto;
	padding-top: 80px;
	vertical-align: baseline;
}
blockquote {
	width: 150px;
	margin: 15px auto;
	font-size: 16px;
	line-height: 21px;
	background-color: transparent;
}
blockquote cite {
	font-size: 14px;
	line-height: 19px;
}
.sub-title {
	font-size: 14px;
	line-height: 21px;
}
.button, p {
	max-width: 150px;
	margin: 0 auto;
	font-size: 15px;
	line-height: 20px;
}

html, body, .container {
		height: auto;
	}
}
@-webkit-keyframes shine
{
	0%	{
	 background-position: top left;
	}
	100%
	{
		background-position: top right;
	}
}